@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DINCondensed;
  src: url("/fonts/D-DINCondensed.otf");
}

@font-face {
  font-family: HelveticaPro;
  src: url("/fonts/HelveticaPro.ttf");
}

.levelFont {
  font-family: DINCondensed;
}

body {
  font-family: HelveticaPro;
}
